<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Slime in the Ice Machine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="main.js"></script>
</head>
<body>
        <!-- Start of navbar -->
        <nav class="navbar navbar-default">
                <div class="container-fluid navbar-custom">
          
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="row">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <div class="col-s-9 phone-nav">
                        <a class="navbar-brand" href="index.html" id="logo">Gentleman Parrot</a>
                      </div>
                    </div>
          
                    <!-- Collect the nav links, forms, and other content for toggling -->
                     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right navbar-right-custom">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meet the Team <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                           <li><a href="rodrigo.html">Rodrigo</a></li>
                            <li><a href="felicia.html">Felicia</a></li>
                            <li><a href="phoenix.html">Phoenix</a></li>
                            <li><a href="becca.html">Becca</a></li>
                            <li><a href="kaileigh.html">Kaileigh</a></li>
                          </ul>
                        </li>
                        <li><a href="about.html">About the Project</a></li>
                        <!-- <li><a href="data.html">Data</a></li> -->
                      </ul> 
                    </div><!-- /.navbar-collapse -->
                  </div>
                </div><!-- /.container-fluid -->
              </nav>
              <!-- End of navbar -->

              <div class="container">
                    <div class="row">
                      <div class="col-md-12 jumbotron text-center">
                        <h1><i>Why</i> Slime in the Ice Machine?</h1>
                        <hr>
                              <p class="caption">Houston Natives may remember a nightly segment presented by the late Marvin Zindler of KRTK-TV Houston. Zindler was famed in the city for his self-described "Rat and Roach Report". During these reports he read details from his controversial City of Houston Food Inspection Program's restaurant reports on the air. The Rat and Roach Report soon became famous for Zindler's enthusiastic reports of "Sliiiime in the Ice Machine!"</p>
                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wUqlbjxznZA"></iframe>
                              </div>
                              
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Austin Health Inspection Scores vs Yelp Ratings and Reviews</h2>
                            <hr>
                            <p class="text-left">For this project we decided to explore the most recent (2018) data provided by the local government of Austin, TX regarding health inspection scores on routine inspections for local restaurants and establishments. We were curious to see if patrons intrisincally recognized when establishments scored lower and if that affected or influenced the average rating on a popular consumer review site (Yelp). 
                                <br><br> 
                                We used Yelp's API key to pull in Yelp User reviews and compare against the City of Austin Health Inspection scores. We chose to create and display interactive visualizations for consumers to explore restaurants and scores in their areas throughout the city, as well as checking out their favorite restaurants. Throughout this project we explored using the following languages and tools--
                                <br><br>
                                <b>Languages: </b>Python, JavaScript, JSON, SQL, HTML, and CSS
                                <br><b>Tools: </b>API calls, Tableau, Excel, Pandas, SQLite, Heroku, GitHub, Plotly, Bootstrap</p>
                                <img src="https://ih0.redbubble.net/image.333501007.9106/flat,1000x1000,075,f.u1.jpg" alt="Gentleman Parrot" class="tiny">
                        </div>

                    </div>
                    </div>


 <!--start of footer-->
 <div id="footer">
        <div class="container">
          <p class="footer">Gentleman Parrot--UT Data Analysis and Visualization</p>
  
        </div>
      </div>
    <!--End of footer-->
    
<!-- jQuery CDN -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
          <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
          <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
          <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
          <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
        
        </body>
        
        </html>
        